#  string class method and atributes

In [7]:
a = "i am muslim"
a

'i am muslim'

In [3]:
a.capitalize()

'I am muslim'

In [4]:
a.upper()

'I AM MUSLIM'

In [5]:
a.lower()

'i am muslim'

In [8]:
a = "pakistan"
a

'pakistan'

In [11]:
a =  " pakistan "
a.center(14 , "x")

'xx pakistan xx'

In [12]:
a = " hello welcome to python programming"
a

' hello welcome to python programming'

In [17]:
a = " hello welcome to python programming"
len(a)

36

In [15]:
a = " hello welcome to python programming"
a.count("o",0,len(a))

5

In [6]:
abc = """ 
sindh boy scout association
city : karachi
country : pakistan
"""
print(abc)

sindh boy scout association
city : karachi
country : pakistan

# mannaul

In [13]:
name = "irfan hussain jadoon"
fname = "nazar hussain"
rollno = 148

abc = """
**********Piaic************
sindh boy scout assocaition
name : {}
father's name : {}
roll number : {}
"""
print(abc.format(name,fname,rollno))

**********Piaic************
sindh boy scout assocaition
name : irfan hussain jadoon
father's name : nazar hussain
roll number : 148

# dynamic

In [14]:
name = input("enter your name")
father_name = input("enter your father's name")
roll_no = input ("enter your roll_no")

abc = """
**********Piaic************
sindh boy scout assocaition
name : {}
father's name : {}
roll number : {}
"""
print(abc.format(name,fname,rollno))

enter your nameirfan hussain
enter your father's namenazar hussain
enter your roll_no148

**********Piaic************
sindh boy scout assocaition
name : irfan hussain
father's name : nazar hussain
roll number : 148

In [16]:
a = " sir qasim "
b = " best teacher "
print(a+b)    #concatinact

 sir qasim  best teacher

In [22]:


a = 12
b = 8
print(a+b) # addition
print (a-b) # subtration
print(a*b)  # multiplication
print (a/b) #division
print(a//b) # division w/o points

20
4
96
1.5
1

In [24]:
a = 36 - (2 * 20) + 12 + 20 / (4 * 3) - (2 * 2) + (6 * 3) + 10 - 2 / (10 * 6) - 15 + 18 
print(a) # pemdas

36.63333333333333

# If / Else

In [8]:
a = 100
b = 50

if b > a:
    print("b is greater than a")
elif a == b:
    print("a and b are equal")
else:
    print("a is greater than b")

a is greater than b

In [9]:
a = 100
b = 50

if b > a:
    print("b is greater than a")
else:
    print("b is not greater than a")

b is not greater than a

In [10]:
if a > b: print("a is greater than b")

a is greater than b

In [11]:
print("A") if a > b else print("B")

A

In [12]:
print("A") if a > b else print("=") if a == b else print("B")

A

#  Assign operators

In [25]:
a = " isalmabad "
a

' isalmabad '

In [26]:
a = " lahore "
a

' lahore '

In [27]:
a*2

' lahore  lahore '

In [29]:
a *= 2
a

' lahore  lahore  lahore  lahore '

In [31]:
a %=2
a # it will give errer

TypeError: not all arguments converted during string formatting

In [33]:
a **= 2
a  # same it cannot take the power of str

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

        #  logical operater

In [34]:
10 == 10

True

In [35]:
10 == 4

False

In [36]:
10 > 9

True

In [37]:
10 < 9

False

In [38]:
10 <= 5

False

In [41]:
10 <=12

True

In [43]:
10 == 10 and 10 > 8 and 10 < 5

False

In [47]:
7==7 or 4>=2 or 5>=3

True

In [18]:
e = " hello welcome to python programming"
e.istitle() # false because every first word is start with small character

False

In [22]:
e = " hello welcome to python programming"
e.startswith(" hello ",0,len(e))

True

In [19]:
x = " pakistan "
y = " karachi "
z = 25
print(xyz) # error occur because we are not using str with age

NameError: name 'xyz' is not defined

In [20]:
x = " pakistan "
y = " karachi "
z = 25
print(x+y+ str(z))

 pakistan  karachi 25

#  List : [ ]

In [15]:
thislist = ('apple', 'banana', 'cherry')
print(thislist)

('apple', 'banana', 'cherry')

In [17]:
thislist[0]  # index always start from 0 ; so the first index is "apple"

'apple'

In [18]:
thislist[2]

'cherry'

In [21]:
thislist = ['apple', 'banana', 'cherry']
thislist[2] = 'mango'
thislist                        # this command is used to change the third item

['apple', 'banana', 'mango']

In [22]:
thislist.append('cherry')
thislist                # append will always add the value in the last

['apple', 'banana', 'mango', 'cherry']

In [23]:
thislist.insert(2,'orange')
thislist

['apple', 'banana', 'orange', 'mango', 'cherry']

In [24]:
del thislist[1]
thislist

['apple', 'orange', 'mango', 'cherry']

In [25]:
thislist.remove('mango')
thislist

['apple', 'orange', 'cherry']

In [26]:
delNames = thislist.pop()
print(thislist)
print(delNames)       # it will delete the last name of the list but you can return it in future

['apple', 'orange']
cherry

In [1]:
thislist = ['apple', 'banana', 'cherry']
if'apple'in thislist:
    print("yes, 'apple' is in the fruits list")

yes, 'apple' is in the fruits list

In [33]:
names = ['irfan', 'fawad', 'saddam', 'uzair', 'naveed']
names

['irfan', 'fawad', 'saddam', 'uzair', 'naveed']

In [34]:
marks = [90, 85, 70, 88, 80,]
marks

[90, 85, 70, 88, 80]

In [35]:
marks.sort()
marks               # in assending order

[70, 80, 85, 88, 90]

In [37]:
marks.sort(reverse=True)
marks                   # in decending order

[90, 88, 85, 80, 70]

In [38]:
marks = [90, 85, 70, 88, 80,]
marks

[90, 85, 70, 88, 80]

In [39]:
marks.reverse()
marks             # it will reverese the list number e.g 'last number will come first'

[80, 88, 70, 85, 90]

In [40]:
len(marks)

5

In [41]:
countValue = len(marks)
maxValue = max(marks)
minValue = min(marks)
sumValues = sum(marks)

print('total value', countValue)
print('maximum value is', maxValue)
print('minimum value is', minValue)
print('total marks', sumValues)

total value 5
maximum value is 90
minimum value is 70
total marks 413

#  print list with for loop

In [2]:
names = ['irfan', 'fawad', 'jamal', 'majid', 'arif']
names

['irfan', 'fawad', 'jamal', 'majid', 'arif']

In [3]:
for name in names:             #for loop#
    print(name)    # it will give the name in individual rather than in list

irfan
fawad
jamal
majid
arif

In [4]:
for name in names:
    print('my name is',name)

my name is irfan
my name is fawad
my name is jamal
my name is majid
my name is arif

In [6]:
for value in range(0,30,2):
    print(value)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28

In [13]:
marks =[x for x in range(0,30)]
marks

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29]

#  tuple : ( )

In [1]:
thistuple = ('apple', 'banana', 'cherry', 'orange', 'mango')
thistuple

('apple', 'banana', 'cherry', 'orange', 'mango')

In [2]:
thistuple[1]= 'mango'        # you cannot change the list in tuple #

TypeError: 'tuple' object does not support item assignment

In [3]:
thistuple = ('apple', 'banana', 'cherry', 'orange', 'mango')
for x in thistuple:
    print(x)

apple
banana
cherry
orange
mango

In [5]:
fruitNames = ('apple', 'banana', 'cherry', 'orange', 'mango')
fruitNames

('apple', 'banana', 'cherry', 'orange', 'mango')

In [6]:
fruitNames[0:4]       # 'slicing' put the specific range that you want

('apple', 'banana', 'cherry', 'orange')

In [10]:
fruitNames = ('apple', 'banana', 'cherry', 'orange', 'mango')
fruitNames

('apple', 'banana', 'cherry', 'orange', 'mango')

In [12]:
fruitNames[::-4]

('mango', 'apple')

#  dictionary

In [16]:
thisdict = {
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 1964}

In [18]:
x = thisdict["model"]
x

'mustang'

In [20]:
thisdict = {
    "brand":"ford",
    "model":"mustang",
    "year":1964
}
thisdict["year"]=2018     # change the year
print(thisdict)

{'brand': 'ford', 'model': 'mustang', 'year': 2018}

In [21]:
for x in thisdict:
    print(x)          #loop#

brand
model
year

# lambda

In [1]:
x = lambda a : a + 10
print(x(5))        # lambda has only one expression

15

In [2]:
x = lambda a, b : a * b
print(x(2, 3))

6

In [3]:
x = lambda a, b, c, : a + b + c
print(x(5, 10, 15))

30

In [8]:
def myfunc(n):
    return lambda a : a * n
mydoubler = myfunc(2)
print(mydoubler(11))

22

In [9]:
def myfunc(n):
    return lambda a : a * n
mythripler = myfunc(3)
print(mythripler(11))

33

#  dates

In [17]:
import datetime
x = datetime.datetime.now()
print(x)                          # this will give the current date and time

2019-05-22 20:30:06.286573

In [18]:
import datetime

x = datetime.datetime.now()

print(x.year)
print(x.strftime("%A"))       # this will give the year and weekday

2019
Wednesday

In [19]:
import datetime

x = datetime.datetime(2020, 5, 17)

print(x)        # create a date object

2020-05-17 00:00:00

In [20]:
import datetime

x = datetime.datetime(2018, 6, 1)

print(x.strftime("%B"))     # it will give the name of month

June