#  string class method and atributes

In [1]:
a = "i Am mUsLim"
a

'i Am mUsLim'

In [3]:
a.capitalize()

'I am muslim'

In [4]:
a.upper()

'I AM MUSLIM'

In [5]:
a.lower()

'i am muslim'

In [6]:
abc = """ 
sindh boy scout association
city : karachi
country : pakistan
"""
print(abc)

sindh boy scout association
city : karachi
country : pakistan

# mannaul

In [13]:
name = "irfan hussain jadoon"
fname = "nazar hussain"
rollno = 148

abc = """
**********Piaic************
sindh boy scout assocaition
name : {}
father's name : {}
roll number : {}
"""
print(abc.format(name,fname,rollno))

**********Piaic************
sindh boy scout assocaition
name : irfan hussain jadoon
father's name : nazar hussain
roll number : 148

# dynamic

In [14]:
name = input("enter your name")
father_name = input("enter your father's name")
roll_no = input ("enter your roll_no")

abc = """
**********Piaic************
sindh boy scout assocaition
name : {}
father's name : {}
roll number : {}
"""
print(abc.format(name,fname,rollno))

enter your nameirfan hussain
enter your father's namenazar hussain
enter your roll_no148

**********Piaic************
sindh boy scout assocaition
name : irfan hussain
father's name : nazar hussain
roll number : 148

In [16]:
a = " sir qasim "
b = " best teacher "
print(a+b)    #concatinact

 sir qasim  best teacher

In [22]:


a = 12
b = 8
print(a+b) # addition
print (a-b) # subtration
print(a*b)  # multiplication
print (a/b) #division
print(a//b) # division w/o points

20
4
96
1.5
1

In [24]:
a = 36 - (2 * 20) + 12 + 20 / (4 * 3) - (2 * 2) + (6 * 3) + 10 - 2 / (10 * 6) - 15 + 18 
print(a) # pemdas

36.63333333333333

#  Assign operators

In [25]:
a = " isalmabad "
a

' isalmabad '

In [26]:
a = " lahore "
a

' lahore '

In [27]:
a*2

' lahore  lahore '

In [29]:
a *= 2
a

' lahore  lahore  lahore  lahore '

In [31]:
a %=2
a # it will give errer

TypeError: not all arguments converted during string formatting

In [33]:
a **= 2
a  # same it cannot take the power of str

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

        #  logical operater

In [34]:
10 == 10

True

In [35]:
10 == 4

False

In [36]:
10 > 9

True

In [37]:
10 < 9

False

In [38]:
10 <= 5

False

In [41]:
10 <=12

True

In [43]:
10 == 10 and 10 > 8 and 10 < 5

False

In [47]:
7==7 or 4>=2 or 5>=3

True

In [54]:
x = " pakistan "
y = " karachi "
z = 25
print(xyz) # error occur because we are not using str with age

NameError: name 'xyz' is not defined

In [56]:
x = " pakistan "
y = " karachi "
z = 25
print(x+y+ str(z))

 pakistan  karachi 25